extends _layout/base
block settings
  - title = 'Kamizay | Barikad Crew';
  - description = '';

block content
    section.section.hero
        .overlay
        .row
            .grid-4
                .avatar: img.img--max(src="./asset/image/band.jpg")
            .grid-8
                h1.name Barikad Crew
                h3.meta
                    span.type Gwoup - 
                    span.genre Hip-Hop
    .page-wrapper
        .row
            .grid-8
                .story
                    h2.title Istwa
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis metus vitae luctus rutrum. Integer mollis felis nec tortor tempus, id tincidunt elit fringilla. Vivamus pellentesque nisi at ultricies condimentum. Etiam eros felis, egestas nec nibh non, venenatis congue justo. Suspendisse elementum diam quis orci iaculis auctor. In non feugiat mauris, in iaculis ex. Nulla ac risus at enim viverra accumsan. Aenean et magna ipsum. Vivamus suscipit metus non ipsum consequat, id tincidunt eros faucibus. Vivamus euismod urna sit amet orci euismod luctus. In id turpis in urna cursus vulputate ac eu odio. Mauris venenatis augue enim. Donec eu sem ex.  p Fusce rutrum, ligula eu ultrices semper, velit purus posuere enim, non suscipit justo eros in risus. Mauris vulputate nunc eget velit auctor, ut pretium nisi cursus. Aliquam sit amet est ultrices, efficitur magna quis, molestie ex. Sed pretium nisi a elit lobortis ullamcorper vel eget lacus. Curabitur vel egestas justo, sed feugiat urna. Pellentesque rhoncus velit vel pretium tempus. Nullam ornare feugiat nisi, ac efficitur libero gravida suscipit. Quisque ornare sed turpis at gravida. Maecenas accumsan efficitur ante, non efficitur tellus blandit non. Pellentesque id metus ac elit commodo consectetur ac vitae arcu.
                    p Nullam pellentesque rhoncus odio, vitae feugiat lectus iaculis id. Nam cursus, nunc placerat fringilla accumsan, est mi facilisis tellus, sed tincidunt odio sapien id nisi. Sed id faucibus ipsum, non lacinia ligula. Etiam at eros semper, egestas justo vel, rutrum odio. Maecenas neque urna, aliquet non varius sed, venenatis et libero. Donec eu egestas augue. Vestibulum congue urna quis est iaculis facilisis. Nulla mi arcu, aliquet sed mollis quis, feugiat nec metus. Mauris purus leo, pulvinar ac fringilla eget, aliquam non justo. Vivamus tempus viverra feugiat. In sed ultricies lacus, id feugiat lacus. Fusce dictum posuere lectus, feugiat maximus diam feugiat sed. Nunc eu mollis arcu. In hac habitasse platea dictumst. omething
                .discography 
                    h2.title Diskografi
                    .list: .album-info
                        .meta
                            .cover: img.img--max(src="./asset/image/album.jpg")
                            .text
                                h4.name Goumen pou sa w kwè
                                p.producer Hash Records
                                p.year 2006
                                p.track-count 26 pis
                                .player
                                    .progress-bar
                                    .button: i.icon-play
                                    .track Nou di non
                                    .progress 00:20
                        table.table--stripes.track-list
                            tr
                                td 1
                                td I'm nasyonal
                                td 2.21
                            tr
                                td 2
                                td Nou di non
                                td 4.24
                        .footer
                            button Afiche mwens
    footer.footer.txt--center
        h2.brand Kamizay
        h4.description Yon pwodwi Bouyon Teknolojik
        p.copyright Konsepsyon Skydev

                
