@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import "../node_modules/amazium/scss/amazium";

// Variables 

$accent-color: #f39b6d;

// Icon

@font-face {
  font-family: 'icomoon';
  src:  url('asset/font/icomoon.eot?n7d8cf');
  src:  url('asset/font/icomoon.eot?n7d8cf#iefix') format('embedded-opentype'),
    url('asset/font/icomoon.ttf?n7d8cf') format('truetype'),
    url('asset/font/icomoon.woff?n7d8cf') format('woff'),
    url('asset/font/icomoon.svg?n7d8cf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\ea1c";
}

// Base Style Override

body {
    font-family: Roboto;
    font-size: 16px;
}

h1, h2, p {
    margin: 0;
    margin-bottom: 1rem;
    &:last-child {
        margin: 0;
    }
}

// CSS Framework override

.row + *, .row--fluid + * {
    margin: 0;
}

// Components

.album-info {
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.13);

    .meta {
        display: flex;
        flex-direction: row;

        .cover {
            flex: 0 0 25%;
            
            img {
                vertical-align: top;
            }
        }

        .text {
            padding: 24px;
            color: #aaa;
            position: relative;
            flex: 1 1 auto;

            .name {
                font-size: 24px;
                font-weight: 500;
                color: #000;
                margin-bottom: 12px;
            }
            p {
                margin: 0;
            }
            .player {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 36px;
                background: #bbb;
                color: #fff;
                display: flex;
                line-height: 36px;

                .button {
                    position: relative;
                    display: block;
                    width: 36px;
                    text-align: center;
                    border-right: 1px solid rgba(255, 255, 255, 0.3);
                }

                .track, .progress {
                    position: relative;
                }

                .track {
                    flex: 1 1 auto;
                    padding: 0 24px;
                }
                
                .progress {
                    padding-right: 24px;
                }

                .progress-bar {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 80px;
                    background: $accent-color;
                }
            }
        }
    }

    .track-list {
        tr {
            td {
                padding: 12px 16px;
                &:first-child {
                    width: 50px;
                }
                &:last-child {
                    text-align: right;
                }
            }
        }
    }

    .footer {
        margin:0;
        border-top: 1px solid #e8e8e8;

        button {
            text-align: center;
            color: $accent-color;
            display: block;
            width: 100%;
            padding: 6px 12px;
        }
    }
    &:hover {
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.43);
    }
}

// Layout

.page-wrapper {
    padding: 100px 0;
    .title {
        padding: 12px 0;
        margin-bottom: 36px;
        font-size: 24px;
        font-weight: bold;
        color: $accent-color;
        border-left: 8px solid $accent-color;
        padding-left: 36px;
    }

    .story {
        margin-bottom: 48px;
    }
}

.hero {
    position: relative;
    background: url('./asset/image/bg.jpg') no-repeat center fixed;
    background-size: cover;
    padding: 220px 0 100px;
    color: #fff;

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 0;
    }

    .row {
        position: relative;
        z-index: 4;
    }

    .avatar img {
        border-radius: 8px;
        border: 4px solid #fff;
    }

    .name {
        font-size: 48px;
        font-weight: 500;

        &::before {
            content: " ";
            display: block;
            height: 8px;
            background: #fff;
            margin-bottom: 16px;
        }
    }

    .meta {
        color: $accent-color;
    }
}


footer.footer {
    padding: 56px 0 24px;
    background: #232323;
    color: #fff;

    .brand {
        color: $accent-color;
        font-size: 36px;
        font-weight: 500;
    }

    .description {
        margin: 0 0 36px;
        font-size: 20px;
        font-weight: 500;
    }
}
